# Bucles 
## while

In [3]:
i = 0
while (i < 4): 
    j = 0
    while(j < 3): 
        print("Soy menor a 3")
        j = j + 1
    print(i)
    i = i + 1

Soy menor a 3
Soy menor a 3
Soy menor a 3
0
Soy menor a 3
Soy menor a 3
Soy menor a 3
1
Soy menor a 3
Soy menor a 3
Soy menor a 3
2
Soy menor a 3
Soy menor a 3
Soy menor a 3
3

## for

In [7]:
prueba = range(5)
prueba

range(0, 5)

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in "hola":
    print(i)

h
o
l
a

In [12]:
for i in range(5):
    print(i)
    if (i > 2):
        break

0
1
2
3

In [15]:
i = 0
while (i < 10): 
    if (i == 3): 
        break
    print(i)
    i = i + 1

0
1
2

In [18]:
i = 0
while (i < 10): 
    if (i == 3): 
        i = i + 1
        continue
    print(i)
    i = i + 1

0
1
2
4
5
6
7
8
9

# Listas

In [24]:
lista = ["Tu", "nombre", "es", "Daniel"]
# Acceder a elementos en especifico de la lista 
lista[0:2]
lista[2]

['Tu', 'nombre', 'es', 'Daniel', 5]

Agregar elemento a lista:

In [25]:
lista.append(5)

In [27]:
lista2 = [8, 4, 6, 6.2]

Unir listas:

In [28]:
lista.extend(lista2)

In [29]:
lista

['Tu', 'nombre', 'es', 'Daniel', 5, 5, 8, 4, 6, 6.2]

obtener el indice de un elemento:

In [31]:
lista.index(5)

4

Eliminar un elemento:

In [32]:
lista.remove("Daniel")

In [33]:
lista

['Tu', 'nombre', 'es', 5, 5, 8, 4, 6, 6.2]

Eliminar el ultimo elemento de la lista:

In [34]:
lista.pop()

6.2

In [36]:
lista

['Tu', 'nombre', 'es', 5, 5, 8, 4, 6]

## Matrices

In [42]:
lista3 = [[5, 12, 3], [4, 6, 9]]
lista3

[[5, 12, 3], [4, 6, 9]]

In [44]:
lista3[0][1]
lista3[0][2]

3

## Tuplas

In [45]:
tupla = (1, 2, 3)

NO se pueden expandir

In [46]:
tupla.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [47]:
tupla = list(tupla)

In [48]:
tupla.append(2)

In [49]:
tupla

[1, 2, 3, 2]

Convertir lista a tupla

In [50]:
lista4 = [1, 2]
nuevatupla = tuple(lista4)

In [51]:
nuevatupla

(1, 2)