# Bucles 
## while

In [1]:
i = 0
while (i < 4): 
    j = 0
    while(j < 3): 
        print("Soy menor a 3")
        j = j + 1
    print(i)
    i = i + 1

## for

In [2]:
prueba = range(5)
prueba

range(0, 5)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in "hola":
    print(i)

h
o
l
a

In [5]:
for i in range(5):
    print(i)
    if (i > 2):
        break

0
1
2
3

In [6]:
i = 0
while (i < 10): 
    if (i == 3): 
        break
    print(i)
    i = i + 1

0
1
2

In [7]:
i = 0
while (i < 10): 
    if (i == 3): 
        i = i + 1
        continue
    print(i)
    i = i + 1

0
1
2
4
5
6
7
8
9

# Listas

In [8]:
lista = ["Tu", "nombre", "es", "Daniel"]
# Acceder a elementos en especifico de la lista 
lista[0:2]
lista[2]

'es'

Agregar elemento a lista:

In [9]:
lista.append(5)

In [10]:
lista2 = [8, 4, 6, 6.2]

Unir listas:

In [11]:
lista.extend(lista2)

In [12]:
lista

['Tu', 'nombre', 'es', 'Daniel', 5, 8, 4, 6, 6.2]

obtener el indice de un elemento:

In [13]:
lista.index(5)

4

Eliminar un elemento:

In [14]:
lista.remove("Daniel")

In [15]:
lista

['Tu', 'nombre', 'es', 5, 8, 4, 6, 6.2]

Eliminar el ultimo elemento de la lista:

In [16]:
lista.pop()

6.2

In [17]:
lista

['Tu', 'nombre', 'es', 5, 8, 4, 6]

## Matrices

In [18]:
lista3 = [[5, 12, 3], [4, 6, 9]]
lista3

[[5, 12, 3], [4, 6, 9]]

In [19]:
lista3[0][1]
lista3[0][2]

3

## Tuplas

In [20]:
tupla = (1, 2, 3)

NO se pueden expandir

In [21]:
tupla.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
tupla = list(tupla)

In [23]:
tupla.append(2)

In [24]:
tupla

[1, 2, 3, 2]

Convertir lista a tupla

In [25]:
lista4 = [1, 2]
nuevatupla = tuple(lista4)

In [ ]:
nuevatupla

## Diccionarios

In [26]:
midiccionario = {"mascota1":"perro","mascota2":"gato", "mascota3":"pez"}
midiccionario

{'mascota1': 'perro', 'mascota2': 'gato', 'mascota3': 'pez'}

Agregar un elemento:

In [27]:
midiccionario["mascota4"] = "caballo"

In [28]:
midiccionario

{'mascota1': 'perro',
 'mascota2': 'gato',
 'mascota3': 'pez',
 'mascota4': 'caballo'}

Sobreescribir elemento:

In [29]:
midiccionario["mascota4"] = "gallo"

In [30]:
midiccionario

{'mascota1': 'perro',
 'mascota2': 'gato',
 'mascota3': 'pez',
 'mascota4': 'gallo'}

Borrar un elemento:

In [31]:
del midiccionario["mascota3"]

In [32]:
midiccionario

{'mascota1': 'perro', 'mascota2': 'gato', 'mascota4': 'gallo'}

In [33]:
midiccionario["numeroMascotas"] = 1

In [ ]:
midiccionario

In [34]:
midiccionario["soyUnaLista"] = [1, 2, 3, 4, 5]

In [ ]:
midiccionario

Almacenando un diccionario dentro de un diccionario

In [35]:
midiccionario["soyUnDiccionario"] = {"numero1":1, "numero2":2}

In [ ]:
midiccionario

Acceder a todas las keys de el diccionario

In [ ]:
midiccionario.keys()

Imprimir los valores

In [36]:
midiccionario.values()

dict_values(['perro', 'gato', 'gallo', 1, [1, 2, 3, 4, 5], {'numero1': 1, 'numero2': 2}])

Revisar el numero de elementos

In [37]:
len(midiccionario)

6

Limpiamos todos los elementos

In [ ]:
midiccionario.clear()

In [ ]:
midiccionario

## Sets

In [38]:
miset = {1, 2, 3, 4, 5}

In [39]:
miset

{1, 2, 3, 4, 5}